@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+KR&display=swap");
/*font-family: 'Gamja Flower', cursive;
font-family: 'Noto Sans KR', sans-serif;*/

.kjw_body {
    display: flex;
    height: 100vh;
    background-color: #f7eee5;
    justify-content: center;
}
.kjw_main {
    display: flex;
    width: 430px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.kjw_main > img {
    width: fit-content;
}
.kjw_start_title {
    font-family: "Gamja Flower", cursive;
    font-size: 40px;
    padding-top: 10rem;
    margin-bottom: 19px;
}
.kjw_start_content {
    font-family: "Noto Sans KR", sans-serif !important;
    font-size: 0.9rem;
    margin-bottom: 36px;
    text-align: center;
    line-height: 38px;
}
.kjwStartBtn {
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    font-family: "Gamja Flower", cursive;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #d43c2f;
    color: white;
}
.kjwStartBtn:disabled {
    background-color: #ffffff;
    color: #d43c2f;
}

.kjwQuizingBtn {
    width: 352px;
    height: 50px;
    background-color: #ffffff00;
    border: solid 1px #b3acac;
    border-radius: 30px;
    font-family: "'Gamja Flower', cursive";
    font-size: 25px;
    color: "black";
    text-align: "center";
}
